header{
    background-color: yellow;
}
#Logotyp{
    height: 35px;
    width: 20px;
}
#soklogga{
    height: 25px;
    width: 18px;
}
#box{
    display: flex;
    height: 100%;
}
#objekt{
    width: 70%;
    margin: 0;
}
#side{
    width: 30%;
}

#about_shoe{
    width: 70%;
    height: 40vh;
    margin: 5% auto;
    display: flex;
    border: 2px solid black;
}
#about_title{
    width: 65%;
    height: 100%;
}
#about_price{
    width: 35%;
    height: 100%;
    border-left: 2px solid black;
}
#list{
    padding-left: 15%;
}
section>h3{
    padding: 0 2%;
}
section>h2{
    padding: 0 2%;
}
section>p{
    padding: 0 2%;
}
*{
    box-sizing: border-box;
}
#tst-img{
    width: 70%; 
    height: 55vh;
    display: block;
    margin: 5% auto;
    border: 2px solid black;
}
#google_map{
    width: 100%;
    height: 60vh;
    margin-bottom: 100px;
}
iframe{
    width: 70%;
    height: 100%;
    margin-left: 15%;
    border: 2px solid black;
}
body>#box>aside>a>img{
    width: 65%;
    height: 40%;
    margin-top: 5%;
    margin-left: 17.5%;
    border: 2px solid black;
}
#kontaktfooter{
    background-color: yellow;
    padding-top: 0;
    width: 100%;
    
}
#kontaktfooter>h3{
    margin-top: 0;
}
body{
    margin: 0;
    min-height: 100vh;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif
}
#kontaktheader{
    background-color: white;
    margin-bottom: 0;
}
#kontakt{
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 0;
}
#boxy{
    display: flex;
}
#sidbild{
    height: 480px;
    width: 480px;

}