header{
    background-color: yellow;
}
#Logotyp{
    height: 35px;
    width: 20px;
}
#Damsko{
    padding-left: 10px;
}
#soklogga{
    height: 25px;
    width: 18px;
}
#headerspace1{
    width: 5%;
}
#headerspace2{
    width: 65%;
}
main>figure>img{
    height: 300px;
    width: 350px;
    margin: 0;
    border: 2px solid white;
}
main>figure>img:hover{
    border: 2px solid black;
}
main>figure>a>img{
    height: 300px;
    width: 350px;
    margin: 0;
    border: 2px solid white;
}
main>figure>a>img:hover{
    border: 2px solid black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#main_start{
    display: flex;
    flex-wrap: wrap;
}
#kontaktfooter_start{
    background-color: yellow;
    padding-top: 0;
    
    bottom: 0;
    width: 100%;
}
main>figure>figcaption{
    color: darkslategrey;
    /*font-weight: bold;  står redan i html filen*/
}